.loader-container {
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loader-logo {
  width: 150px;
  height: auto;
  z-index: 2;
  position: absolute;
}

.loader-circle {
  width: 200px;
  height: 200px;
  border: 6px solid #ccc;
  border-top-color: #007BFF; 
  border-radius: 50%;
  animation: rotate 1.2s linear infinite;
  position: absolute;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

